footer {
    margin-top: 120px;
    padding: 16px 0;
    background: #fff;
    color: #000000;
    font-size: 14px;
    border-top: 1px solid white;
    box-shadow: 0 0px 1px rgba(0,0,0,.3);
    position: relative;
    bottom: 0;
    width: 100%;
}


.copy-right-text {
    font-size: 13px;
    font-weight: 600;
    margin-top:10px;
    text-align: center;
    color: #474747;
}

.socials {
    width: fit-content;
    margin: 0 auto;
}

.social {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.social-item {
    padding: 0 5px;
}

.social.fb {
    background-image: url('./icons/socials/facebook.png');
}

.social.tw {
    background-image: url('./icons/socials/twitter.png');
}

.social.ig {
    background-image: url('./icons/socials/instagram.png');
}

.social.yt {
    background-image: url('./icons/socials/youtube.png');
}