:root {
    --bg: hsl(236deg 49% 98%);
    --col-1: #272838;
    --col-2: #5D536B;
    --col-2-lighter-0: #706283;
    --col-2-lighter-1: #857896;
    --col-3: #7D6B91;
    --col-4: #989FCE;
    --col-5: #347FC4;
    --col-5--darker: #2d6eaa;
    --col-5--darker-1: #23598b;
    --btn-text-color: #a7aae1;
    --btn-text-color-brighter: #bbbef8;
}


html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background: var(--bg);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, span {
    color: #505050;
}

span.big-text {
    font-size: 18px;
}

span.capitalized {
    text-transform: uppercase;
}

span.bold {
    font-weight: 500;
    color: #626262;  
}

span.bolder {
    font-weight: 600;
    color: #626262;  
}

.no-text-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}

span.f-size-18 {
    font-size: 18px;
}

.text.right {
    text-align: right;
}

.right-text-align {
    text-align: right;
}


.abs-center {
    top: 50%;
    transform: translateY(-50%);
}

.mr-1 {
    margin-right: 12px;
}

.mr-0 {
    margin-right: 8px;
}

.r-pos {
    position: relative;
}

.a-pos {
    position: absolute;
}

.width-full {
    width: 100%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #adadad #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #adadad;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 8px 0;
    background: #fff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 5%);
}

/* header icons */

.h-icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
    filter: opacity(70%); 
    user-select: none;
}

.h-icon:hover {
    filter: opacity(90%);
}

.h-icon.cart {
    background-image: url('./icons/shopping-cart.png');
    cursor: pointer;
}

.h-icon.account {
    background-image: url('./icons/user.png');
}

span.link {
    text-decoration: underline;
    cursor: pointer;
}

span.red {
    color: #ed8e8e;
}

span.w500 {
    font-weight: 500;
}

.mb-0 {
    margin-bottom: 6px;
}


.cart-widget {
    position: fixed!important;
    display: none;
    width: 480px;
    padding: 10px 0 0 0;
    box-sizing: border-box;
    z-index: 888;
    background-color: #fff;
    top: 66px;
    right: 5px;
    border-radius: 10px;
}

.cart-widget.display-block {
    display: block;
}

.cart-widget h3 {
    color: #555555!important;

}

.cart-widget button {
    padding: 16px 0;
    background-color: #ffffff;
    color: #747474;
    font-weight: 500;
    text-decoration: underline;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.items-cart {
    max-height: 265.39px;
    overflow-y: auto;
}

.cart-removeall {
    font-size: 12px;
    align-self: center;
}

.cart-ball {
    background: #ff2a2a;
    left: -2px;
    top: -2px;
    z-index: 2;
    text-align: center;
    max-width: 13px;
    min-width: 13px;
    max-height: 13px;
    min-height: 13px;
    border-radius: 100%;
    overflow: hidden;
}

.cart-ball .item-count {
    font-size: 8px;
    margin-top: 1.6px;
    font-weight: bold;
}
.cart-ball .item-count span {
    color: #fff;
    
}

.user-account {
    cursor: pointer;
}

.user-account span {
    color: #6f6f6f!important;
}

.user-account:hover .h-icon.account {
    filter: opacity(90%);
}

.user-account:hover span {
    color: #3d3d3d!important;
}

.user-account span {
    font-size: 14px;
    font-weight: 500;
}

.shadow {
    box-shadow: 0 0 8px #5e607a11;
}

.shadow-more {
    box-shadow: 0 0 19px #5e607a8a
}

.shadow-2 {
    box-shadow: 0 0 8px #27283811;
}


.item {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 23%;
    padding-right: 17px;
    margin-bottom: 18px;
    cursor: pointer;
    transition: transform 100ms;
}

.item:hover {
    transform: translateY(-5px);
    transition: transform 200ms;
}


.product-item .product-cover {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
}

.product-item .product-cover img {
    border-radius: inherit;
    user-select: none;
    --webkit-user-select: none;
    --moz-user-select: none;
    width: 100%;
}

.product-item {
    position: relative;
    padding-top: 100%;
    
    height: 0;
    border-radius: 10px;
    background: #fff;
    opacity: 1;
    margin-bottom: 6px;
    overflow: hidden;
}

.product-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 3;
    background: #000000;
    opacity: 0;
    transition: opacity 80ms;
    border-radius: inherit;
}

.product-item:hover::after {
    opacity: .1;
    background: #ffffff;
    transition: opacity 80ms;
}

.product-item:hover .play-btn-circle {
    opacity: 1;
    transition: opacity 80ms;
}

.product-item .play-btn-circle, .play-btn-circle {
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    opacity: 0;
    transition: opacity 80ms;
    position: absolute;
    z-index: 4;
    cursor: pointer;
    width: 30%;
    height: 30%;
    background: var(--col-2-lighter-0);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-item .play-btn-circle:hover {
    background: var(--col-2-lighter-1);
}

.product-item .play-btn-circle .play-icon,
.play-btn-circle .play-icon {
    position: absolute;
    background: url('./images/listing/play-button.svg');
    width: 36%;
    height: 36%;
    background-position: 2px center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(100%) sepia(3%) saturate(187%) hue-rotate(20deg) brightness(116%) contrast(100%);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.product-item .play-btn-circle.pause .play-icon,
.play-btn-circle.pause .play-icon {
    background-image: url('./icons/pause.png');
	left: 46%;
}

.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 48px;
    min-height: 48px;
    line-clamp: 2;
    margin-bottom: 4px; 
}
.product-name span {

}

.item-list {
    display: table;
    list-style: none;
    margin: 40px 0;
    padding: 0;
    width: 100%;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.mobile-section {
    display: none;
}

@media screen and (max-width: 700px) {

    .cart-widget.display-block {
        width: 100%!important;
        left: 0!important;
        right: 0!important;
        height: 100%!important;
        border-radius: 0!important;
        top: 0;
        display: flex!important;
        flex-direction: column!important;
        padding-top: 66px!important;
    }

    .items-cart {
        max-height: 100%;
        flex-grow: 1!important;
    }

    .hide-mobile {
        display: none!important;
    }
    
    .mobile-section {
        display: block;
    }

    .item-list .item {
        width: 33%!important;
        padding: 10px;
    }

    .menu {
        display: none!important;
    }
}


@media screen and (max-width: 660px) {
    .slider-item-list {

    }


    .merch-item {
        width: 50%!important;
    }

    .main-banner {
        margin-bottom: 0px!important;
        padding: 40px 0!important;
        margin-top: 58px!important;
    }

    .item-list {
        display: flex!important;
        flex-wrap: wrap;
        width: 100%!important;
        padding: 0!important;
    }

    .item-list .item {
        width: 50%!important;
        flex-shrink: 0;
        padding: 10px!important;
        box-sizing: border-box;
    }
    
    .banner-description {
        width: 70%!important;
    }

    .main-banner h2 {
        font-size: 30px!important;
        margin-bottom: 4px!important;
    }

    .mobile-section {
        display: block!important;
    }

    .slider-item {
        width: 50%!important;
        flex-shrink: 0!important;
    }
}
@media screen and (max-width: 760px)
{
    .container {
        width: 100%;

        padding: 0 10px!important;
        box-sizing: border-box!important;
    }
}

@media screen and (min-width: 660px) and (max-width: 760px)
{
    .slider-item {
        width: 25%!important;
        flex-shrink: 0!important;
    }
}


@media screen and (min-width: 760px) and (max-width: 1000px)
{
    .container {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .slider-item {
        width: 25%!important;
        flex-shrink: 0!important;
    }
}


@media screen and (max-width: 1200px)
{
    .left-section {
        display: none!important;
    }

    .item-list {
        display: flex!important;
        flex-wrap: wrap;
        width: 100%!important;
        padding: 0!important;
    }

    .item-list .item {
        padding: 10px!important;
        width:24%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1260px)
{
    .container {
        width: 1000px!important;
    }

    .item-list .item {
        width: 24%;
    }

    span.big-text {
        font-size: 13px;
    }

    .filter-bar-wrapper img {
        width: 13px!important;
        top: 0px!important;
    }

    .little-txt-btn {
        font-size: 10px!important;
    }

    .filter-name span {
        font-size: 14px!important;
    }

    .filter-element {
        padding:3px 0 !important;
    }

    .btn button {
        font-size: 12px !important;
    }
}


@media screen and (min-width: 1260px) {
    .container {
        width: 1180px;
    }
}


.label {
    padding: 6px 0 7px 0;
    font-weight: 500;
    font-size: 16px;
}

.content {
    margin: 34px 0;
}

.content.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.left-section {
    position: sticky;
    top: 66px;
    width: 24%;
    padding: 23px 26px 0 0;
    background-color: var(--bg);
    margin-right: 4px;
}

.right-section {
    flex: 1;
    padding-top: 10px;
}


.standard-box {
    background-color: #fff;
    border-radius: 14px;
    margin-bottom: 30px;
}

.box-padding {
    padding: 18px 24px;
}

.standard-box img {
    width: 20px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 3px;
}

.sticky {
    position: sticky;
    z-index: 99;
    top: 75px;
    background: var(--bg);
    padding: 14px 0;
}

.sticky::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 20px;
    background-color: var(--bg);
    top: 0;
    left: -20px;
}

.sticky::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 104%;
    background-color: var(--bg);
    top: -100%;
    left: -24px;
}

.filter-list {
    margin:10px 0;
}

.filter-name span {
    font-weight: 500;
    font-size: 16px;
}

.filter-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
    cursor: pointer;
}

.basic-text-btn {
    color: var(--btn-text-color);
}

.logo {
    cursor: pointer;
    width: 94px;
    height: 42px;
    margin-right: 20px;
    background-image: url('./images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 center;
}

.section {
    margin: 0 0 10px 0;
}

.search-item {
    position: relative;
    padding: 0px 80px 0 0;
}

input {
    position: relative;
    z-index: 9;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 18px 30px 18px 46px;
    border-radius: 20px;
    transition: box-shadow 200ms ease-in-out;
    color: #2f2f2f;
}

input:hover {
    box-shadow: 0 0 6px #5e607a11;
    transition: box-shadow 150ms ease-in-out;
}

.search-icon {
    position: absolute;
    width:20px;
    filter: opacity(.4);
    height: 20px;
    z-index: 99;
    left: 16px;
    background-image: url('./icons/search-icon.svg');
    background-position: center center;
    background-size: 100%;
}
/* menu */

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu .link {
    text-transform: uppercase;
    font-size: 16px;
    height: fit-content;
    font-weight: 500;
    padding: 10px 10px;
    cursor: pointer;
    display: block;
}

.menu .link:hover span, .menu .link.active span {
    color: var(--btn-text-color);
}

.menu .link.active span {
    cursor: default;
}

.align-center {
    align-items: center;
}

.dflex {
    display: flex;
    flex-direction: row;
}

.col-direction {
    flex-direction: column;
}

.no-shrink {
    flex-shrink:  0;
}

.space-between {
    justify-content: space-between;
}

.little-txt-btn {
    font-size: 13px;
    cursor: pointer;
}

.little-txt-btn:hover span {
    color: var(--btn-text-color-brighter);
}

.little-txt-btn span {
    color: var(--btn-text-color);
}

.filter-bar-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.banner {
    cursor: pointer;
    width: 100%;
    height: 400px;
    background-image: url('./images/banner/trumpet.png');
    background-position: center;
    background-size: 100%;
    border-radius: inherit;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sort-by {
    margin-right: 28px;
}

.text.main-col span {
    color: var(--col-2);
    font-size: 12px;
}

.flex-1 {
    flex: 1
}

.flex-2 {
    flex: 2
}

.sx-margin {
    margin-right: 20px;
}

.no-grow {
    flex-shrink: 0;
}

select {
    outline: none;
    border: none;
    padding: 16px 16px;
    box-sizing: border-box;
}

select::after
{
    content: "";
}
/*footer*/


.options-selector {

}

.options-selector .option {

}

.options-selector .current-value {
    position: relative;
    background-color: #fff;
    padding: 12px 46px 12px 18px;
    border-radius: 18px;
    cursor: pointer;
}

.options-selector .current-value span {
    color: #626262;
}

.down-icon {
    position: absolute;
    width: 13px;
    height: 13px;
    background: url('./icons/down-arrow.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .6;
    right: 19px;
    transform: translateY(-5px) rotateZ(-90deg);
    transition: transform 100ms;
}

.down-icon:active, .down-icon.active {
    opacity: .8;
}

.down-icon.active {
    transform: rotateZ(0) translateY(-50%);
}

.down-icon:hover {
    transform: rotateZ(0) translateY(-46%);
    transition: transform 100ms;
}

/* buttons */
button {
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    opacity: .86;
}

button:hover {
    opacity: 1;
}

.btn button {
    background: #fff;
    color: #525252;
    padding: 10px 0;
    border-radius: 4px;
    font-weight: 500;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
}

.btn-theme-2 button {
    background: var(--col-5);
    color:#fff;
}

/* --- end buttons */

.price {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

.drop-down-menu {
    position: absolute;
    width: max-content;
    display: none;
    padding: 10px 0;
    background: #fff;
    right: 0;
    top: 60px;
    box-sizing: border-box;
    border-radius: 8px;
}

.drop-down-menu .menu-item {
    padding: 10px 23px;
    font-size: 14px;
}

.drop-down-menu .menu-item.selected {
    background: #f5f5f5;
}

.drop-down-menu .menu-item:hover {
    background: #f5f5f5;
}

/* audio player */

.audio-player {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 20%;
    overflow: hidden;
    z-index: 5;
}

.audio-player .canvas-player {
    width: 100%;
    height: 100%;
}

.audio-canvas {
    position: relative;
    z-index: 16;
    display: block;
    width: 100%;
    height: 100%;
}

.shadow-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(50%);
    opacity: 0;
    transition: opacity 200ms ease-in-out, transform 400ms ease-in-out;
    background: linear-gradient(#00000000, #00000085);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.shadow-layer.active {
    transform: translateY(0);
    opacity: 1;
    transition: opacity 200ms ease-in-out, transform 400ms ease-in-out;
}



/* cart style */

.us-none {
    user-select: none;
}

.plr-10 {
    padding:0 10px;
}

.plr-18 {
    padding:0 18px;
}

.ptb-10 {
    padding:0 10px;
}

.mlr-10 {
    margin: 0 10px;
}

.mtb-10 {
    margin: 10px 0;
}

.article-cover {
    position: relative;
    width: 17%;
}

.article-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.article-cover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .1;
    border-radius: 6px;
    left: 0;
    top: 0;
    z-index: 99;
}

.no-content-shrink {
    min-width: 0;
}
.cart-product-name {
    line-height: 15px;
    font-size: 14px;
    display: -webkit-box;
    font-weight: 500;

    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-product-name span {
    color: #646464!important;
}

.quantity-ball {
    position: relative;
    width:32px;
    height:32px;   
    background: #efefef;
    border-radius: 100%;
    cursor: pointer;
}

.quantity-ball:hover {
    background: #e5e5e5;
}

.quantity-num {
    padding: 0 10px;
    font-size: 12px;
}


.quantity-ball span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #6c6c6c;

    font-weight: 500;
}

.quantity-wrapper {
    width: 105px;
}
.align-self-stretch {
    align-self: stretch;
}
.align-self-center {
    align-self: center;
}

.item-cart {
    max-height: 84px;
    margin-bottom: 10px;

    cursor: pointer;
    padding: 10px 20px;
}

.cart-head {
    padding: 4px 20px;
}

.item-cart:hover {
    background: #f0f0f0;
}

.cart-remove-btn {
    font-size: 12px;
}

.right-most-side {
    line-height: 16px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.top-margin-5 {
    margin-top: 5px;
}