.view-product-container {
    margin-top: 127px;
}

.fifty-basis {
    flex-basis: 56%;
}

.view-product-flex-wrapper {
    flex-direction: row;
}

@media screen and (min-width: 660px) and (max-width: 1000px) {
    
    .fifty-basis {
        flex-basis: 50.4%!important;
    }

    .info-section {
        flex-basis: 34%!important;
    }
}


@media screen and (max-width: 1000px) {
    .buy-buttons {
        flex-direction: column!important;
    }
}

@media screen and (max-width: 900px) {
    .view-product-flex-wrapper {
        flex-direction: column!important;
    }

    .image-display {
        height: 400px!important;
    }

    body {
        background: #fff!important;
    }
    
    .view-product-container {
        margin-top: 86px;
    }

    .info-section, .detail-box {
        box-shadow: unset!important;
    }

    .detail-box {
        border-radius: 0;
    }




    .banner-content {
        background: transparent!important;
    }
}

@media screen and (max-width: 1200px) {
    .image-bar {
        display: none!important;        
    }
}



@media screen and (min-width: 1000px) and (max-width: 1200px) {    
    .fifty-basis {
        flex-basis: 58.4%!important;
    }

    .info-section {
        flex-basis: 34%!important;
    }
}

@media screen and (max-width: 1260px) and (min-width: 1200px) {
    
    .fifty-basis {
        flex-basis: 50%!important;
    }

    .info-section {
        flex-basis: 34%!important;
    }
}

.image-display { 
    box-sizing: border-box;
    overflow: hidden;
    background: #fff;
    height: 560px; /* fixed height */
    flex-grow: 0!important;
}

.image-display-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    justify-content: center;
}

.image-bar {
    flex-basis: 14%;
    box-sizing: border-box;
    margin-right: 8px;
}

.img-item {
    border: 1px solid transparent;
    cursor: pointer;
    margin-bottom: 4px;
    border-radius: 4px;
    overflow: hidden;
}


.img-item.selected {
    border-color: rgb(175 175 175 / 58%);
    box-shadow: 0 0 4px rgb(79 119 182 / 67%);
}

.img-item:not(.selected):hover {
    border-color: #d2d2d2;

}

.img-preview {
    position: relative;
    padding-top: 100%;
    box-sizing: border-box;
}

.img-preview img {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    object-fit: contain;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    vertical-align: middle;
}

.info-section {
    flex-basis: 44%;
    box-sizing: border-box;
    padding: 22px 16px 23px 24px;
    line-height: 33px;
    border-top-right-radius: 8px;
    background: #fff;
    border-bottom-right-radius: 8px;
}

.title-item {
    font-size: 25px;
    font-weight: 400;
    word-break: break-all;
}

.title-item span {
    color: #2f2f2f!important
}

.item-desc {
    margin: 0 0 10px 0;
    line-height: 16px;
}

.item-desc .t-content {
    font-size: 14px;
}

.item-desc .t-content span {
    color: #5c5c5c;
}

.lighter {
    font-weight: 400;
}

.lighter {
    color: #686868!important;
}

.item-desc-first {
    margin-top: 20px;
    margin-bottom: 28px;
}

.pricing-section {
    line-height: 24px;
}

.price-text {
    font-size: 26px;
    font-weight: 500;
}

.price-desc {
    font-size: 14px;
    font-weight: 300;
}

.price-desc span {
    color: #848484;
}

.buy-button {
    margin: 5px 0;
    box-sizing: border-box;
}

.buy-button.darker button {
    background-color: var(--col-5--darker);
}

.buy-button.darker button:active {
    background-color: var(--col-5--darker-1);
}

.buy-button button {
    padding: 13px 0;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
    font-weight: 500;
    border-radius: 30px;
    background: linear-gradient(45deg, var(--col-5), #5f5f5f)
}

.buy-button button:active {
    background-color: var(--col-5--darker);
}

.sound-cloud {
    padding: 10px 0;
    box-sizing: border-box;
}

.play-btn-circle-2 {
    box-shadow: 0 0 8px #5f99ceb5;
    opacity: 1;
    position: relative;
    z-index: 4;
    cursor: pointer;
    background: #5f99ce;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    left: 0;
    top: 0;
}

.play-btn-circle-2 .play-icon {
    position: relative;
    background: url('./images/listing/play-button.svg');
    background-size: 40%;
    background-position: 55% center;
    background-repeat: no-repeat;
    border-radius: inherit;
    filter: invert(100%);
    opacity: 1;
    width: 100%;
    height: 100%;
}

.track-list-body {
    box-sizing: border-box;
    border: 1px solid #dedede;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    height: 0;
    flex-basis: 163px;
    overflow-y: auto;
}

.track-wrapper {
    height: 100%;
}

.track-list {

}

.track-list span {
    font-size: 21px;
    font-weight: 300;
    color: #000;
}

.track-count {
    color: #727272!important;
    font-size: 13px!important;
}

.banner-content {
    position: absolute;
    width: 100%;
    height: 450px;
    top: 0;
    left: 0;
    z-index: -4;
    background: linear-gradient(#30323517, transparent);
}


.big-text {
    margin: 40px 0 20px 0;
}
.big-text h2 {
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.detail-box {
    background: #fff;
    color: #4c4c4c;
    line-height: 20px;
    font-size: 17px;
}

.slider-action {
    position: relative;
    z-index: 10;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
}

.slider-action:hover .icon:not(.disabled) {
    filter:opacity(.5);
}

.slider-action .icon {
    background: url('./icons/back.png?2');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    filter: opacity(.3);
    
}

.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.slider-action.back {
    margin-right: 20px;
}


.slider-action.forward {
    margin-left: 20px;
}


.slider-action.forward .icon {
    transform: translate(-50%, -50%) rotateZ(180deg);
    left: 55%;
}

.slider-action.back .icon {
    
}

.self-stretch {
    align-self: stretch;
}

.slider-item {
    width: 20%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid transparent;
}

.slider-item:hover {
    border-color: #cfcfcf;
}

.box-covering {
    position: relative;
    height: 0;
    padding-top: 100%;
    cursor: pointer;
    user-select: none;
}

.box-covering:hover::after {
    background: #fff;
}

.box-covering::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .1;
    top: 0;
    left: 0;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.box-covering img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: middle;
}

.box-covering:hover .play-btn-circle {
    opacity: 1;
    transition: opacity 100ms;
}

.slider-item-list {
    position: relative;
    z-index: 9;
    transition: transform 200ms;
}


.rounded-button {
    width: fit-content;
    margin: 0 auto;
}

.rounded-button.col-2 button {
    border: 3px solid #8461da;
    color: #4d3290!important;
    background: linear-gradient(45deg, #3f45b717, #6d4b9400);

    padding: 7px 29px;
}

.rounded-button button {
    border-radius: 20px;
    padding: 10px 29px;
    background: linear-gradient(45deg, #3f45b7, #6d4b94);
    color: #fff;
    font-weight: 500;
    box-shadow: 0 0 5px rgb(0 0 0 / 19%);
}


.section-title {
    padding: 30px 0;
    font-size: 18px;
}

.section-title h3 {
    font-weight: 400;
    font-size: 24px;
    color: #151515;
}

.vertical-separator {
    margin-top: 13px;
    margin-bottom: 13px;
}

.rounded {
    border-radius: 12px;
    padding: 20px;
}

.__text {
    padding-right: 16px;
    line-height: 20px;
    box-sizing: border-box;
}

.__text span {
    font-size: 16px!important;
}

.track-list-item {
    padding: 10px 0 10px 10px;
}

.track-list-item:nth-child(2n+1) {
    background-color: #fcfcfc;
}

.merch-item {
    width: 25%;
}

.merch-info {
    line-height: 20px;
}

.merch-info .text {
    font-size: 16px;
}

.merch-info .text.title {
    margin-top: 10px
}

.f-wrap {
    flex-wrap: wrap;
}